.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    margin-top: 1.5rem;
    gap: 2rem;
}

.left-content,
.right-content {
    width: 25%;
}

.middle-content {
    width: 40%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
}

/* ------------------  */
.my-profile-card {
    width: 80%;
    border: 1px solid #ddd;
    margin-left: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.146);
}

.cover-img-wrap {
    position: relative;
    overflow: visible;
}

.my-card-cover {
    width: 100%;
    height: 100px;
}

.my-dp {
    position: absolute;
    top: 45%;
    left: 10%;
}

.my-card-content {
    margin-top: 2.3rem;
    padding: 1rem;
    color: #555;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ create a post @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
.create-a-post {
    padding: 1.5rem 1rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 10px #0000001d;
}

.create-post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.create-post-header p {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
    color: #777;
    cursor: pointer;
}

.create-a-post hr {
    margin: .6rem 0;
    /* color: #ccc; */
    outline: none;
    border: .5px solid #ccc;
}

.create-post-body {
    display: flex;
    justify-content: space-around;
    padding: .3rem 1rem .3rem;
}

.create-post-body button {
    outline: none;
    border: none;
    background-color: transparent;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.create-post-body i {
    font-size: 22px;
}

.green-btn {
    color: #067d06;
}

.dgrbl-btn {
    color: dodgerblue;
}

.orng-btn {
    color: #ff7300;
}


/* @@@@@@@@@@@@@@@@@@@ post @@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
.post {
    background-color: #fff;
    margin: 2rem 0;
    box-shadow: 0px 5px 20px #0000001d;
    border-radius: 5px;

}

.post-author {
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    color: #444
}

.author-details {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.author-dp {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.author-dp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-info p {
    font-size: 14px;
    line-height: 18px;
}

.author-info p.small {
    font-size: 12px;
}

.post-actions i {
    font-size: 18px;
    margin-left: .5rem;
    color: #555;
    cursor: pointer;
}

.post-info {
    width: 100%;
}

.post-info p {
    padding: .5rem;
    color: #555;
}

.post-img {
    width: 100%;
    height: auto;
}

.post-img img {
    width: 100%;
    object-fit: cover;
}

.post-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
}

.post-controls button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #555;
}

.post-controls i{
    font-size: 25px;
    cursor: pointer;
}
.post-controls span{
    font-size: 12px;
}

/* @@@@@@@@@@@@@@@@@  */
@media screen and (max-width:768px) {
    .container {
        padding: 0 5px;
        margin-top: .5rem;
        gap: 0;
    }

    .left-content,
    .right-content {
        display: none;

    }

    .middle-content {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: .5rem;
        /* border: 1px solid; */
    }

    .create-post-body {
        justify-content: space-between;
    }

    .create-post-body span {
        font-size: 12px;
    }

    .create-post-body i {
        font-size: 16px;
    }
}