.my-profile {
    width: 50%;
    margin: auto;
}

.profile-header {
    margin: 1rem 0;
    background-color: #fff;
    box-shadow: 0 5px 50px #0000002b;
    border-radius: 5px;
    overflow: hidden;
}

.profile-cover {
    height: 200px;
    position: relative;
    text-align: end;
    padding: 1rem;
}

.profile-cover button {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ccc;
    color: #555;
    transition: all .3s ease;
}

.profile-cover button:hover {
    background-color: #eee;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -33%;
    left: 10%;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    padding: 1rem;
    padding-top: 4rem;
    position: relative;
    color: #444;
}
.profile-info p{
    font-size: 14px;
    margin-bottom: .5rem;
}
.profile-info button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.about {
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 5px 50px #0000001c;
    margin: 1rem 0;
    border-radius: 5px;
    color: #444;

}
.about hr{
    font-size: 14px;
    margin: .5rem 0;
}
.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-header button {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.posts {
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 5px 50px #0000001c;
    margin: 1rem 0;
    border-radius: 5px;
    color: #444;
}
.posts hr{
    font-size: 14px;
    margin: .5rem 0;
}
.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts-header span {
    cursor: pointer;
    color: #10467c;
    font-size: 14px;
    border: 1px solid #10467c;
    border-radius: 5px;
    padding: .3rem .5rem;
    margin-right: 1rem;
}

.posts-header button {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.posts-wrapper {
    height: 60vh;
    border: 1px dashed #10467c;
    border-radius: 5px;

}

.parent-wrapper {
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 5px 50px #0000001c;
    margin: 1rem 0;
    border-radius: 5px;
    color: #444;
}

.child-wrapper {
    border: 1px dashed dodgerblue;
    padding: .5rem 1rem 1rem;
    border-radius: 5px;

}

.child-wrapper hr{
    font-size: 14px;
    margin: .5rem 0;
}
.child-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child-header button{
     outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}
.child-body button{
     outline: none;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #10467c;
    cursor: pointer;
}
/* ############ media query ############  */
@media screen and (max-width:768px) {
    .my-profile {
        width: 95%;
        margin: auto;
    }
    .profile-cover{
        height: 130px;
    }
    .profile-pic{
        width: 110px;
        height: 110px;
    }
}